/* Dubyas list of annoying stuff he hides in discord using Quick CSS */

/* Want to have this be synced up with your Discord so you don't need to re-copy and paste this for new additions?
 * Feel free to just import this gist directly by adding the following line:
 * @import url("https://raw.githubusercontent.com/DubyaDude/DubyasCleanupOfDiscord/main/DubyasCleanupOfDiscord.css");
 */

/* Disable profile edit page upsell */
div[class$="-settingsPage"] > div > div[class$="-container"],
div[class$="-settingsPage"] > div > div[class$="-floatingNitroUpsell"],
div[class$="-settingsPage"] > div > div > div[class$="-tryItOutSection"],
/* Disable profile view upsell */
aside[class$="-upsellContainer"],
/* Disable character count upsell */
div[class$="-characterCount"] > div[class$="-upsell"]
{
    display:none;
}


/* Disable emoji inspection upsell (ty Regalia) */
div[class$="-emojiSection"] > button[class$="-ctaButton"],
div[class*="-burstReactionTooltipPrompt"]
{
    display:none;
}

/* Disable Gift Button(s) (in chat) */
div[aria-label="Send a gift"]
{
    display: none;
}

/* Hide Channel App Launcher in chat */
[class$="app-launcher-entrypoint"]
{
    display:none;
}

/* Hide things in DMs page */
li div a[href="/shop"], /* Hide 'Shop' Tab */
li div a[href="/quest-home"], /* Hide 'Quest' Tab */
li div a[href="/store"] /* Hide 'Ntiro' Tab */
{
  display: none;
}

/* Profile effects */
[class*="-profileEffects"]
{
    display: none;
}

/* Avatar Decorations */
svg[class$="-avatarDecoration"],             /* Avatar Decorations */
img[class$="-avatarDecoration"],             /* Avatar Decorations in Messages */

/* Hide nameplates background decoration on members list and DM list (ty Regalia) */
div[class*="-container"] > div[class$=-videoContainer] {
    display: none;
}

div[class*="-container"]:has(div[class$=-videoContainer]) {
    background: none !important; 
}

/* Disable nitro icon on members list hover and opening nitro page */
div[class*=-nameAndDecorators] > span > div[role="button"]:has(svg[class*=premiumIcon])
{
    pointer-events: none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=-body] > span[class^="-clickable"] [role="button"],
div[class*=-compact] span[class*="-clanTagChiplet"], /* (ty SupDos on Github) */
span[class*="-clanTagChiplet"],
span[class*="-clanTag"]
{
    display: none;
}

/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"])
{
  display: none;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class$="-effectsWrapper"]
{
    display: none;
} 
img.emoji
{
    opacity: 100;
}
div[class$="-shakeReaction"]
{
    animation: none !important;
}
