/**
 * @name discord vencord debloat
 * @description A theme for debloating discord originally by DubyaDude modified by mystery3525
 * @author mystery3525
 * @version 1.0.0
*/

/* Dubyas list of annoying stuff he hides in discord using Quick CSS */
/* Certain things added to by mystery3525 */

/* Want to have this be synced up with your Discord so you don't need to re-copy and paste this for new additions?
 * Feel free to just import this directly by adding the following line to the "Online Themes":
 * https://raw.githubusercontent.com/mystery3525/DiscordCSSDebloat/main/DubyasCleanupOfDiscord.css
 * OR import with QuickCSS:
 * @import url("https://raw.githubusercontent.com/mystery3525/DiscordCSSDebloat/main/DubyasCleanupOfDiscord.css");
 */

/*
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣶⣶⣄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡿⢉⠀⠈⢿⣷⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠁⠀⠀⠀⠀⢿⣷
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⡿⠀⠀⠀⠀⠀⠸⣿⡆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⡇
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⣧⠀⢀⣀⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⢻⣿⡾⠿⠛⠿⣷⡄
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣼⣿⠀⠀⠀⠀⠀⠀⢸⣿⡄⠀⠀⠀⢹⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡾⠛⠉⠉⣿⠇⠀⠀⠀⠀⠀⠈⠛⠀⠀⠀⠀⢸⣿⡆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣄⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡿⢻⣷⡄⠀⠀⠀⠀⢿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠇
⢀⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⠃⠀⢻⣷⠀⠀⠀⠀⣸⣿⠖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⡟
⣾⣿⢿⣷⣄⠀⣀⣀⣠⣤⣤⡿⠇⠀⠀⠈⣿⡇⠀⢠⣾⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⡟
⢸⣿⠀⠙⠻⠿⠛⠛⠉⠉⠁⣠⣴⣶⣶⣦⣿⣇⣴⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣴⠿⠋
⢸⣿⠀⣨⣵⣶⣶⣤⣀⢀⣾⣿⣿⣿⣿⠊⣿⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⡾⠿⠛⠉
⠀⢻⣿⡏⢿⣿⣿⣿⣿⡟⣿⣿⣿⠟⢃⣾⠟⠁⠀⠀⠀⠀⠀⣀⣠⣴⡶⠟⠛⠉
⠀⠘⣿⣧⠈⠻⢿⡿⣿⡇⠙⢿⣶⡶⠟⠁⠀⠀⢀⣠⣤⣶⠟⠛⠉⠁
⠀⠀⠈⠻⢿⣶⣶⣶⣿⣷⠿⠟⠋⠀⢀⣤⣶⠾⠛⠉⢁⣀⣀
⠀⠀⠀⣠⣶⠟⠋⠀⠀⠀⠀⠀⠀⠀⣿⣇⣀⣀⣠⠶⠛⠉⢻⡧
⠀⠀⣼⡟⠁⠀⠀⠀⠀⠀⠀⠀⡀⠀⠸⣿⣯⣍⣁⣀⣤⣴⠟⠃
⠀⣼⡟⠀⢀⣴⢿⣷⠀⠀⢀⣴⢷⣄⠀⢻⣯⠉⠉⠉⠁
⢰⣿⠃⢀⣼⡟⠈⣿⡇⠀⢸⡿⠈⣿⡄⠈⣿⣇
⠈⢿⣷⡾⠋⠀⢠⣿⠁⠀⣿⡇⠀⠘⣿⡄⢸⣿
⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⣿⡇⠀⠀⠈⠛⠛⠉
⠀⠀⠀⠀⠀⠀⠸⣿⣄⣼⠟
⠀⠀⠀⠀⠀⠀⠀⠈⠉⠁
⣿⠛⠛⠛⡀⣿⡀⡀⡀⣿⡀⢀⡾⠛⠷⡄⡀⣿⡀⡀⣴⠋⡀⡀⠈⣷⡀⡀⣰⠏⡀⣴⠛⠻⣦⡀⡀⡇⡀⡀⢸⡇⡀⡀⡀⣿⠛⠛⢶⡀⡀⣿⡀⢠⡾⠛⠷⡄⡀⣠⠟⠛⢶⡀⡀⣠⠞⠛⢶⡀⡀⣿⠛⠛⢷⡀⡀⣿⠛⠻⣦⡀
⣿⡀⡀⡀⡀⣿⡀⡀⡀⣿⡀⣿⡀⡀⡀⠉⡀⣿⢠⡿⡀⡀⡀⡀⡀⠈⣧⢠⠏⡀⢸⠁⡀⡀⢸⡆⡀⡇⡀⡀⢸⡇⡀⡀⡀⣿⡀⡀⡀⣿⡀⣿⡀⠸⣦⣀⡀⠉⡀⡏⡀⡀⡀⠁⡀⡏⡀⡀⡀⣷⡀⣿⡀⡀⣠⠇⡀⣿⡀⡀⠘⡇
⣿⠉⠉⠉⡀⣿⡀⡀⡀⣿⡀⣿⡀⡀⡀⣀⡀⣿⠋⠻⣄⡀⡀⡀⡀⡀⠈⡟⡀⡀⢸⡀⡀⡀⢸⠇⡀⡇⡀⡀⢸⡇⡀⡀⡀⣿⡀⡀⡀⣿⡀⣿⡀⣀⡀⠈⠙⣦⡀⣇⡀⡀⡀⡀⡀⣇⡀⡀⡀⡿⡀⣿⠉⠙⣧⡀⡀⣿⡀⡀⢠⡇
⣿⡀⡀⡀⡀⠙⢶⣤⡾⠁⡀⠈⢷⣤⡶⠃⡀⣿⡀⡀⠙⣦⡀⡀⡀⡀⡀⡇⡀⡀⡀⠻⣤⣴⠟⡀⡀⠻⣦⣤⠟⡀⡀⡀⡀⣿⣤⣤⠾⠁⡀⣿⡀⠘⢶⣤⡴⠋⡀⠙⣦⣤⠾⡀⡀⠙⢦⣤⠾⠁⡀⣿⡀⡀⠘⣆⡀⣿⣤⣴⠟⡀
⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⢠⡾⠛⠷⡄⠘⠛⢻⠛⠛⡀⢀⡶⠛⠷⣄⡀⢸⡟⠛⠻⣦⡀⡀⡀⡀⡀⣾⡄⡀⡀⢸⡟⠛⠷⣄⡀⢸⡟⠛⠷⣄⡀⢸⡇⡀⣿⡀⡀⡀⣿⡀⢀⡾⠛⠷⣄⡀⡀⡀⢸⡟⠛⠻⣄⡀⣿⡀⡀⡀⣿⡀⣿⡀⡀⡀⡀⣿⡀⡀⡀⡀⣴⠟⠛⢶⡀⢸⡇⡀⡀⢸⡇⡀⣿⡀⠛⠛⡟⠛⠃
⠸⣦⣀⡀⠉⡀⡀⢸⡀⡀⡀⣿⡀⡀⡀⣿⡀⢸⡇⡀⡀⣿⡀⡀⡀⡀⣰⠃⢿⡀⡀⢸⡇⡀⡀⢻⡀⢸⡇⡀⡀⢻⡀⢸⡇⡀⣿⠻⡄⡀⣿⡀⣿⡀⡀⡀⠉⡀⡀⡀⢸⣇⣀⣠⠏⡀⣿⡀⡀⡀⣿⡀⣿⡀⡀⡀⡀⣿⡀⡀⡀⡀⢿⣄⡀⡀⠁⢸⣇⣀⣀⣸⡇⡀⣿⡀⡀⡀⡇⡀⡀
⣀⡀⠈⠙⣦⡀⡀⢸⡀⡀⡀⣿⡀⡀⡀⣿⡀⢸⡟⠛⠛⠁⡀⡀⡀⡀⣿⣤⣤⣧⡀⢸⡇⡀⡀⣼⡀⢸⡇⡀⡀⣼⡀⢸⡇⡀⣿⡀⠻⣄⣿⡀⣿⡀⠘⠛⣿⡀⡀⡀⢸⡇⡀⠈⣷⡀⣿⡀⡀⡀⣿⡀⣿⡀⡀⡀⡀⣿⡀⡀⡀⡀⣀⡀⠉⢻⡄⢸⡇⡀⡀⢸⡇⡀⣿⡀⡀⡀⡇⡀⡀
⠘⢶⣤⡴⠋⡀⡀⢸⡀⡀⡀⠈⠷⣤⡶⠋⡀⢸⡇⡀⡀⡀⡀⡀⡀⣾⡀⡀⡀⢹⡄⢸⣧⣤⡶⠋⡀⢸⣧⣤⡶⠋⡀⢸⡇⡀⣿⡀⡀⠹⣿⡀⠈⠷⣤⣤⠟⡀⡀⡀⢸⣧⣤⣴⠏⡀⠙⢶⣤⡾⠁⡀⣿⣤⣤⣤⡀⣿⣤⣤⣤⡀⠻⣦⣤⠾⠁⢸⡇⡀⡀⢸⡇⡀⣿⡀⡀⡀⡇⡀⡀
⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⣀⡀⡀⡀⣀⡀⡀⡀⣀⣀⡀⡀⡀⡀⡀⡀⡀⣀⡀⡀⡀⢀⡀⡀⡀⢀⡀⡀⣀⣀⣀⣀⡀⡀⡀⣀⡀⡀⡀⣀⡀⢀⣀⣀⣀⡀⢀⣀⣀⣀⡀⢀⣀⣀⡀⡀⡀⡀⢀⣀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⣿⢷⡀⡀⣿⡀⢠⡟⡀⠈⢿⡀⡀⡀⡀⣴⠋⡀⠉⣷⡀⢸⡿⡄⡀⢸⡇⡀⣿⡀⡀⡀⡀⡀⡀⣿⢷⡀⡀⣿⡀⢸⡇⡀⡀⡀⢸⡇⡀⡀⡀⢸⡇⡀⠉⣷⡀⢸⠋⡀⠉⣧⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⣿⡀⢿⡀⣿⡀⢸⡀⡀⡀⢸⡇⡀⡀⡀⣿⡀⡀⡀⣿⡀⢸⡇⠹⣄⢸⡇⡀⣿⠶⠶⠆⡀⡀⡀⣿⡀⢿⡀⣿⡀⢸⡷⠶⠶⡀⢸⡷⠶⠶⡀⢸⡇⡀⡀⢸⡀⠈⠻⢶⣤⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⣿⡀⡀⢿⣿⡀⠸⣆⡀⡀⣸⠁⡀⡀⡀⢿⡀⡀⡀⣿⡀⢸⡇⡀⠹⣾⡇⡀⣿⡀⡀⡀⡀⡀⡀⣿⡀⡀⢿⣿⡀⢸⡇⡀⡀⡀⢸⡇⡀⡀⡀⢸⡇⡀⡀⣿⡀⢶⡀⡀⡀⣿⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⠛⡀⡀⡀⠛⡀⡀⠈⠛⠛⠁⡀⡀⡀⡀⡀⠉⠛⠋⡀⡀⠘⠃⡀⡀⠙⠃⡀⠛⠛⠛⠛⡀⡀⡀⠛⡀⡀⡀⠛⡀⠘⠛⠛⠛⠃⠘⠛⠛⠛⠃⠘⠛⠛⠋⡀⡀⡀⠙⠛⠋⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀⡀
*/

/* Disable profile edit page upsell */
div[class$="-settingsPage"]>div>div[class$="-container"],
div[class$="-settingsPage"]>div>div[class$="-floatingNitroUpsell"],
div[class$="-settingsPage"]>div>div>div[class$="-tryItOutSection"],
/* Disable profile view upsell */
aside[class$="-upsellContainer"],
/* Disable character count upsell */
div[class$="-characterCount"]>div[class$="-upsell"] {
    display: none;
}


/* Disable emoji inspection upsell (ty Regalia) */
div[class$="-emojiSection"]>button[class$="-ctaButton"],
div[class*="-burstReactionTooltipPrompt"] {
    display: none;
}

/* Disable Gift Button(s) (in chat) */
div[aria-label="Send a gift"] {
    display: none;
}

/* Hide Channel App Launcher in chat */
[class$="app-launcher-entrypoint"] {
    display: none;
}

/* Hide things in DMs page */
/* Hide 'Shop' Tab */
li div a[href="/shop"],
/* Hide 'Quest' Tab */
li div a[href="/quest-home"],
/* Hide 'Ntiro' Tab */
li div a[href="/store"],
li div a[href="/library"] {
    display: none;
}

/* Profile effects */
[class*="-profileEffects"] {
    display: none;
}

/* Avatar Decorations */
svg[class$="-avatarDecoration"],
/* Avatar Decorations */
img[class$="-avatarDecoration"],
/* Avatar Decorations in Messages */

/* Hide nameplates background decoration on members list and DM list (ty Regalia) */
/* DMs */
li[class*="-dm"]>div>div[class*="-container"]:has(div[class$=-videoContainer], img[class*=-img]) {
    background: none !important;
    display: none;
}

/* Image */
div[class*="-member"]>div>div[class*="-container"]> :is(div[class$=-videoContainer], img[class*=-img]) {
    display: none;
}

/* Color fade */
div[class*="-member"]>div>div[class*="-container"]:has(div[class$=-videoContainer], img[class*=-img]) {
    background: none !important;
}

/* Self */
div[class*="-fitInAccount"]> :is(div[class$=-videoContainer], img[class*=-img]) {
    display: none;
}

div[class*="-fitInAccount"]:has(div[class$=-videoContainer], img[class*=-img]) {
    background: none !important;
}

/* Disable nitro icon on members list hover and opening nitro page */
div[class*=-nameAndDecorators]>span>div[role="button"]:has(svg[class*=premiumIcon]) {
    pointer-events: none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=-body]>span[class^="-clickable"] [role="button"],
div[class*=-compact] span[class*="-clanTagChiplet"],
/* (ty SupDos on Github) */
span[class*="-clanTagChiplet"],
span[class*="-clanTag"] {
    display: none;
}

/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
    display: none;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class$="-effectsWrapper"] {
    display: none;
}

img.emoji {
    opacity: 100;
}

div[class$="-shakeReaction"] {
    animation: none !important;
}

/* Removes the Nitro Billing section in Settings -mystery3525 */
nav[class^="sidebar"]>div[class^="side"]:has([class^="premiumTab"])>div:nth-child(n+20):nth-child(-n+26) {
    display: none;
}

/* Removes the nitro section in avatar profiles settings page -mystery3525 */
div div[class^="premiumFeatureBorder"] div[class^="premiumBackground"] {
    display: none;
}

/* Removes the nitro popup in avatar profiles settings page -mystery3525 */
div[class^="upsellContainer"]:has([class^="shinyButton__6a443"]) {
    display: none;
}

/* Removes the "Boost Goal" progress bar in servers -mystery3525 */
ul[aria-label="Channels"] div[class*="-container"]:has(div[class$="-contentContainer"]):has(svg[class$="-boostCountText"]) {
    display: none;
}

/* Removes the "Earn Orbs via Quests" popup idgaf -mystery3525 */
div[id^="popout"]:has([class^="orbAsset"]) {
    display: none;
}

/* Removes the "PROMOTED" Quests advertisement in the friends list -mystery3525 */
[aria-label="Friends"] div[class*="nowPlayingColumn"] div[class^="body"]:has(div[class^="wrapper"]):has(div[class*="promotedTag"]) {
    display: none;
}

/* Removes the "NEW BADGE PACKS" popup on the side of server channels list -mystery3525 */
div[class^="layerContainer"]:has(div[class^="clickTrapContainer"]):has(div[class^="popout"]):has(div[class*="upsellTooltipWrapper"]) {
    display: none;
}

/* Removes username effects in vc member list -mystery3525 */
li[class^="containerDefault"] div[class^="voiceUser"] div[class^="usernameContainer"] div[class^="usernameFont"],
/* Removes username effects in messages -mystery3525 */
li[class^="messageListItem"]>div[class^="message"]>div[class^="contents"] span[class^="username"],
/* Removes username effects in profile popups -mystery3525 */
div[class^="clickableUsername"] div[class^="container"] span[class^="innerContainer"],
div[class^="profile"] div[class^="profileBody"] div[class^="usernameRow"] span[class^="innerContainer"],
/* Removes username effects in member list -mystery3525 */
div[class^="members"] div[class^="nameAndDecorators"] span[class^="username"] span[class^="name"] {
    font-family: var(--font-primary);
    letter-spacing: normal;
    background: none;
    -webkit-text-fill-color: unset;
}