/**
 * @name discord vencord debloat
 * @description A theme for debloating discord originally by DubyaDude modified by mystery3525
 * @author mystery3525
 * @version 1.0.0
*/

/* Dubyas list of annoying stuff he hides in discord using Quick CSS */
/* Certain things added to by mystery3525 */

/* Want to have this be synced up with your Discord so you don't need to re-copy and paste this for new additions?
 * Feel free to just import this directly by adding the following line to the "Online Themes":
 * https://raw.githubusercontent.com/mystery3525/DiscordCSSDebloat/main/DubyasCleanupOfDiscord.css
 * OR import with QuickCSS:
 * @import url("https://raw.githubusercontent.com/mystery3525/DiscordCSSDebloat/main/DubyasCleanupOfDiscord.css");
 */

/* Disable profile edit page upsell */
div[id="profile-customization-tab"]>div[class^="container_"] {
    display: none;
}

/* Disable emoji inspection upsell (ty Regalia) */
[class^="nitroTextAndBadge_"],
button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"] {
    display: none;
}

/* Disable Gift Button(s) (in chat) */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide Channel App Launcher in chat */
[class^="channelAppLauncher_"] {
    display: none;
}

[class^="channelAppLauncher_"]>[class^="buttonContainer_"] {
    display: none;
}

.visual-refresh .channelAppLauncher_e6e74f {
    display: none;
}

/* Hide things in DMs page */
li div a[href="/shop"],
/* Hide 'Shop' Tab */
li div a[href="/store"],
/* Hide 'Library' Tab -mystery3525 */
li div a[href="/library"]

/* Hide 'Ntiro' Tab */
    {
    display: none;
}

/* Hide DM Wallpapers */
/* As of writing, no global toggle exists in Discord. It is handled per DM. Will disable it once that exists. */
[class^="chatContent_"]>[class^="wallpaperContainer_"] {
    display: none;
}

[class^="chatContent_"]>[class^="thumbhashContainer_"] {
    display: none;
}

/* Hide 'Play Again'' DMs page */
/* Disabled as this can be hidden by either:
   - Right click and click Hide
   - Or go to User Settings -> Advanced -> Show Play Again in DMs List

[class^="container_e5a9ed"]
{
    display:none;
}
*/

/* Profile effects */
[class^="profileEffects"] {
    display: none;
}

/* Avatar Decorations */
svg[class^="avatarDecoration"],
/* Avatar Decorations */
img[class^="avatarDecoration"],
/* Removes the full-div avatar nameplate backgrounds in the member list -mystery3525 */
div[class*="wrapperPlated"] div[class^="childContainer"] div[class*="noFade"],
/* Removes the full-div avatar nameplate backgrounds in the member list -mystery3525 */
div[class*="member"] div[class^="childContainer"] div[class^="container"]:has(img[class^="img"]),
/* Avatar Decorations in Messages */
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"]>mask>image {
    display: none;
}

/* Removes the full-div avatar decoration background in the member list -mystery3525 */
div[class*="wrapperPlated"] div[class^="nooFade"] {
    background: none;
}

[class*=avatarDecorationHint_]>foreignObject {
    width: 80px;
    height: 80px;
    mask: url(#svg-mask-avatar-status-round-80);
}

[class*=avatarDecorationHint_] {
    top: -80px;
    left: 0px;
    position: relative;
}


/* Hide nameplates background decoration on members list and DM list (ty Regalia) */
div[class*=videoContainer_] {
    display: none;
}

div[class*="container"]:has(div[class*=videoContainer_]) {
    background: none !important;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]) {
    pointer-events: none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=body_]>span[class^="clickable_"] [role="button"],
div[class*=compact_] span[class*="clanTagChiplet_"],
/* (ty SupDos on Github) */
span[class*="clanTagChiplet_"],
span[class*="clanTag_"] {
    display: none;
}

/* Disable 'Learn More' for nitro in the popout in the side DM (ty Regalia) */
div[class*=overlayBackground_]:has(button[class*=getNitroButton_]) {
    display: none;
}

;

/* Disable nitro icon in word count (ty Regalia) */
div[class*=characterCount_] div[class*=iconOnly_]:has(svg[class*=premium_]) {
    display: none;
}

/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
    display: none;
}

/* Removes floating server list footer (currently only contains Discover) (ty gongo and provi) */
ul[data-list-id='guildsnav']>div[class^=footer] {
    display: none;
}

div[class*=unreadMentionsFixedFooter] {
    bottom: 0px;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class^="effectsWrapper"] {
    display: none;
}

img.emoji {
    opacity: 100;
}

div[class*="shakeReaction"] {
    animation: none !important;
}

/* Removes the Nitro Billing section in Settings -mystery3525 */
nav[class^="sidebar"]>div[class^="side"]:has([class^="premiumTab"])>div:nth-child(n+20):nth-child(-n+26) {
    display: none;
}

/* Removes the nitro section in avatar profiles settings page -mystery3525 */
div div[class^="premiumFeatureBorder"] div[class^="premiumBackground"] {
    display: none;
}

/* Removes the nitro popup in avatar profiles settings page -mystery3525 */
div[class^="upsellContainer"]:has([class^="shinyButton__6a443"]) {
    display: none;
}

/* Removes the "Boost Goal" progress bar in servers -mystery3525 */
ul[aria-label="Channels"] div[class*=containerWithMargin]:has(div[class^=contentContainer]):has(div[class^=progressContainer]) {
    display: none;
}

/* Removes the "Earn Orbs via Quests" popup idgaf -mystery3525 */
div[id^="popout"]:has([class^="orbAsset"]) {
    display: none;
}